* {
  box-sizing: border-box;
}

body{
  margin: 0;
}

.main{
  margin: 3% 34%;
  display: flex;
  flex-direction: column;
  border-style: solid;
}

.top-container{
  border-style: solid;
}

.first-part{
  padding: 20px 50px;
  border-width: 2px;
  background-color: antiquewhite;
  text-align: right;
}

.last-part{
  padding: 10px 50px;
  border-width: 2px;
  background-color: antiquewhite;
  text-align: right;
}

.bottom-container{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.line{
  padding-bottom: 4px;
  text-align: center;
}

button{
  padding: 15px 30px;
  width:  100px;
  height: 50px;
}

.span-two{
  width:  200px;
  height: 50px;
}

h1{
  text-align: center;
}
